## EE 551 Data Processing Project
### Yoohan Ko, Cole Yarbrough
"I pledge my honor I have abided by the Stevens Honor System" -YHK, CY

In [14]:
import pandas as pd
import numpy as np
import csv 

rawData = pd.read_csv("energy.csv", encoding='latin-1')
# rawData = csv.reader(open('energy.csv'))

In [15]:
rawData

,T24,"Production, trade and supply of energy",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,1,"Total, all countries or areas",1990,Primary energy production (petajoules),"360,903",NaN,"United Nations Statistics Division, New York, ..."
2,1,"Total, all countries or areas",1995,Primary energy production (petajoules),"380,713",NaN,"United Nations Statistics Division, New York, ..."
3,1,"Total, all countries or areas",2000,Primary energy production (petajoules),"412,155",NaN,"United Nations Statistics Division, New York, ..."
4,1,"Total, all countries or areas",2005,Primary energy production (petajoules),"476,738",NaN,"United Nations Statistics Division, New York, ..."
...,...,...,...,...,...,...,...
8289,716,Zimbabwe,2005,Supply per capita (gigajoules),33,NaN,"United Nations Statistics Division, New York, ..."
8290,716,Zimbabwe,2010,Supply per capita (gigajoules),28,NaN,"United Nations Statistics Division, New York, ..."
8291,716,Zimbabwe,2014,Supply per capita (gigajoules),30,NaN,"United Nations Statistics Division, New York, ..."
8292,716,Zimbabwe,2015,Supply per capita (gigajoules),30,NaN,"United Nations Statistics Division, New York, ..."
8293,716,Zimbabwe,2016,Supply per capita (gigajoules),29,NaN,"United Nations Statistics Division, New York, ..."